@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  font-family: "Fredoka One", cursive;
}
.container {
  color: red;
  display: grid;
  align-content: center;

  width: 80%;
  height: 100vh;
  margin: auto;
  text-align: center;
}

.container > * {
  margin: 0.5em;
}
.input--time {
}

.timeOutput {
  font-size: 2rem;
}
.button--startCount,
.button--stopCount {
  margin: 1 auto;
  padding: 0.5em;
  color: white;
  background-color: rebeccapurple;
  border: none;
  border-radius: 10px;
}
.button--reset {
  padding: 0.5em;
  color: white;
  background-color: rebeccapurple;
  border: none;
  border-radius: 10px;
}

.explenation {
  color: black;
  font-size: 0.8rem;
}
